@model Biblioteca.Models.CriarLivroViewModel;
<link rel="stylesheet" href="~/css/style.css">

    <h2>Cadastrar Livro</h2>

    <form method="post" asp-action="CriarLivro" asp-controller="Biblioteca">
        <div class="form-group">
            <label for="formGroupExampleInput">Título</label>"
            <input asp-for="Titulo" type="text" required placeholder="Título" />
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Autor</label>"
            <select asp-for="AutorId" class="form-control" asp-items="@ViewBag.Autores">   
            </select>
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Número de páginas</label>"
            <input asp-for="QtdPaginas" type="number" required placeholder="Número de páginas" />
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Data de públicação</label>"
            <input asp-for="DataPublicacao" type="date" required required placeholder="dd/mm/aaaa" />
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Gênero</label>"
            <input asp-for="Genero" type="text" required placeholder="Gênero" />
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Resumo</label>"
            <input asp-for="Resumo" type="text" required placeholder="Resumo" />
        </div>


        <button type="submit">Salvar</button>
    </form>