@model Biblioteca.Models.Autor
<link rel="stylesheet" href="~/css/style.css">

    <h2>Cadastrar Autor</h2>

    <form method="post" asp-action="CriarAutor" asp-controller="Biblioteca">
        <div class="form-group">
            <label for="formGroupExampleInput">Nome</label>"
            <input asp-for="Nome" type="text" required placeholder="Nome" />
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Nacionalidade</label>"
            <input asp-for="Nacionalidade" type="text" required placeholder="Nacionalidade" />
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Nascimento</label>"
            <input asp-for="Nascimento" type="date" required placeholder="dd/mm/aaaa" />
        </div>
        <div classe="form-group">
        <label for="formGroupExampleInput2">Morte</label>"
        <input asp-for="Morte" type="date" placeholder="dd/mm/aaaa" />
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Biografia</label>"
            <input asp-for="Biografia" type="text" required placeholder="Biografia" />
        </div>
        <div classe="form-group">
            <label for="formGroupExampleInput2">Obras</label>"
            <input asp-for="Obras" type="text" required placeholder="Obras" />
        </div>


        <button type="submit">Salvar</button>
    </form>
